// colors
$color-main: #01579b;
$color-secondary: #ffeb3b;
$color-danger: #d41131;
$color-success: #3fd411;

$color-text-main: white;

$color-link: $color-secondary;
$color-link-active: $color-main;
$color-link-hover: $color-main;
