@use 'global' as *;
@use '@base/base';

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include mf-bp-rem('padding', (
        xs: 15px,
    ));
    @include mf-bp-rem('gap', (
        xs: 10px,
        md: avg(10px, 20px),
        xl: 20px
    ));
}

.header,
.footer {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mf-bp-rem('padding', (
            xs: 20px,
            md: avg(20px, 40px),
            xxl: 40px,
        ))
    }
}

.section {

    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    gap: px-to-rem(20px);

    & > * {
        height: 100%;
    }


    @include mf-bp('width', (
        xs: 100%,
        md: 70%,
        xxl: 50%
    ));

    @include mf-bp('grid-template-rows', (
        xs: 50px auto,
        md: avg(50px, 100px) auto,
        xl: 100px auto
    ));
  }

